@layer base {
	:root {
		--background: 240 5% 96%;
		--foreground: 240 10% 4%;
		--card: 0 0% 100%;
		--card-secondary: 0 0% 98%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5% 96%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--sidebar-bg: 0 0% 100%;
		--primary-1: 235 100% 58%;
		--link: 235 100% 58%;
		--placeholder: 240 6% 90%;

		// typography
		--text-primary-900: 0 0% 0%;
		--text-primary-600: 240 4% 46%;
		--text-primary-500: 240 4% 46% / 70%;

		// tab
		--tab-bg: 0 0% 96%;
		--active-tab-bg: 0 0% 100%;

		//border

		--border-header: 0 0% 91%;
		--border-table: var(--border);
		--border-tab: 0 0% 91%;
		--border-popup: var(--border);
		--border-form: 240 6% 90%;
		--border-card: 240 6% 90%;

		// rainbowkit
		--rk-background: 0 0% 100%;
		--rk-foreground: 0 0% 0%;

		// button
		--primary-button: 0 0% 98%;
		--primary-button-text: 240 10% 4%;
		--secondary-button: 240 5% 90%;
		--secondary-button-text: 240 6% 10%;
		--outline-button-border: 240 6% 90%;
		--outline-button-text: 240 6% 10%;
		--wallet-connect-button: 235 100% 58%;
		--wallet-connect-button-text: 0 0% 100%;

		// table
		--table-bg: 0 0% 100%;
		--table-hover: 0 0% 98%;

		// header
		--primary-header: 0 0% 100%;

		// badge
		--badge-success: 82 85% 67%;
		--badge-success-text: 222 47% 11%;
		--badge-secondary: 210 40% 96%;
		--badge-secondary-text: 222 47% 11%;
		--bade-error: 0 84% 60%;
		--bade-error-text: 222 47% 11%;
		--badge-positive: 139 59% 37%;
		--badge-positive-text: 222 47% 11%;

		// charts
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		// shadow
		--shadow-base: #0000000d;

		// slider
		--slider-bg: 235 100% 58%;
		--slider-thumb: 235 100% 58%;

		// sizes
		--max-section-width: 1110px;
		--header-height: 64px;
	}
	[data-theme-id='dark'] {
		--background: 240 10% 4%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 6% 10%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 6% 10%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-bg: 0 0% 0%;
		--placeholder: 240 3% 35%;

		// typography
		--text-primary-900: 0 0% 98%;
		--text-primary-600: 240 5% 65%;
		--text-primary-500: 240 5% 65% / 70%;

		// tab
		--tab-bg: 240 4% 16%;
		--active-tab-bg: 0 0% 0%;

		//border
		--border-header: 0 0% 91%;

		// header
		--primary-header: 250 4% 16%;

		// Shimmer colors
		--shimmer-base: 0 0% 94%;
		--shimmer-highlight: 0 0% 89%;

		// rainbowkit
		--rk-background: 240 4% 16%;
		--rk-foreground: 0 0% 98%;

		// table
		--table-bg: 240 10% 4%;
		--table-hover: 240 6% 10%;

		// badge
		--badge-success: 82 85% 67%;
		--badge-success-text: 222 47% 11%;
		--badge-secondary: 240 6% 10%;
		--badge-secondary-text: 222 47% 11%;
		--bade-error: 10 90% 61%;
		--bade-error-text: 222 47% 11%;
		--badge-positive: 139 51% 52%;
		--badge-positive-text: 222 47% 11%;
	}
}
