@use './core/core';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
		transition:
			background 0.2s ease-in,
			border-color 0.2s ease-in;
	}
	html {
		&:has([data-theme-id='dark']) {
			color-scheme: dark;
		}
	}
	body {
		@apply bg-background text-foreground;
		&:has([data-ui-lock-body='all']) {
			overflow: hidden;
		}
		@media only screen and (max-width: 640px) {
			&:has([data-ui-lock-body='mobile']) {
				overflow: hidden;
			}
		}
		&[data-theme-id='dark'] {
			color-scheme: dark;
		}
	}
}
